body{
    background-size: cover;
}

.heading{
    background-color: black;
    color: cyan;
    font-size: 15;
    width: 100%;
}
#RightDisk{
    float: right;
    width: 200px;
    border-radius:100px ;
}
#LeftDisk{
    float: left;
}
img{
    width: 200px;
    border-radius:100px ;   
}

canvas{
    border-radius: 20px;
    border: 4px solid darkblue;

}

#Play{
    border: 4px solid darkblue; 
    border-radius: 2px;
    color: blue;
    font-size: 15px;
    width: 300px;
    margin-bottom: 30px;
}